.border {
  display: block;
  margin: 10 auto;
  margin-left: 100px;
  margin-right: 100px;
  border-width: 10px;
  padding: 20px;
  margin-top: 100px;
}
.weather-container {
  margin-top: -30px;
}
.main-temp {
  display: inline-block;
  font-size: 100px;
  margin-right: 10px;
}
.city {
  display: inline-block;
  margin-top: 40px;
  font-size: 50px;
  color: #5a6275;
}
.form-search {
  margin-top: 20px;
}
.buttons {
  border-radius: 30px;
  background-color: rgba(3, 111, 255, 0.5);
}
.date {
  margin-left: 30px;
  margin-top: -10px;
}
.main-icon {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin-left: -20px;
  margin-bottom: 50px;
}
.forecast-icons {
  display: block;
  margin: 0 auto;
  image-resolution: 100px;
}
.celcius-farenheit {
  display: inline-block;
  position: relative;
  vertical-align: top;
  color: #5a6275;
  padding-top: 55px;
  text-transform: capitalize;
}
.descript {
  display: inline-block;
  padding-left: 100px;
  text-align: right;
}
.second-top-bar {
  float: right;
}
.degreeswitch {
  color: #5a6275;
  text-decoration: none;
}
.degreeswitch:hover {
  text-decoration: underline;
}
.days {
  margin-top: -5px;
  color: #5a6275;
}
.weather-icons {
  font-size: 40px;
}
.weather-forecast {
  margin-top: -20px;
  padding-bottom: 20px;
}
.temperatures {
  margin-top: 5px;
}
.alignment {
  text-align: center;
}
.ocean {
  color: rgb(3, 111, 255);
  font-weight: bold;
}
.info {
  margin-left: 100px;
}
